/*body {
    height: 700px;
    width: 1000px;
    
    background-image: url("../images/game-menu/space-background.jpg");
}*/

body {
    margin: 0 auto;
    padding:0;
    width: 1000px;
    height: 700px;
    font-family: 'Trebuchet MS', Consolas, sans-serif;
    border: 1px solid black;
    position:relative;
    background: black;
    background-image: url(../images/menu-back2.jpg);
    background-position: 175px 0px;
    background-size: 1000px 700px;
    background-repeat:no-repeat;
}

#help-title {
    align-content: center;
    text-align: center;
    color: mediumturquoise;
    margin-left:45px;
    font-size:28px;
    font-weight: bold;
    padding-left: 25px;
    text-shadow: 0px 0px 10px aqua;
}

#help-text {
    
    color: azure;
    margin-left:45px;
    font-size:20px;
    padding-left: 25px;
    top: 800px;
    left: 1300px;
    text-shadow: 0px 0px 10px aqua;
}

#return {
    
    color: mediumturquoise;
    margin:45px;
    font-size:20px;
    padding-left: 25px;
    font-weight: bold;
    top: 800px;
    left: 1300px;
    text-shadow: 0px 0px 10px aqua;
}

h1 {
    align-content: center;
    text-align: center;
    color: mediumturquoise;
    margin:45px;
    padding-left: 25px;
    text-shadow: 0px 0px 10px aqua;
}

ul {
    list-style-type: none;
}

li {
    text-emphasis:none;
    /*
        font-weight:bold;
        */
    text-align: center;
    margin:45px;
    font-size:28px;
    text-shadow: 0px 0px 5px azure;
}

a{   
    text-decoration: none;
    color: azure;
}

a:hover {
    color: darkgoldenrod;
    text-shadow: 0px 0px 5px darkgoldenrod;
}

footer {
    font-family: 'helvetica', Consolas, sans-serif;
    position: absolute;
    left: 0px;
    top: 560px;
    color: azure;
    background-color:darkslateblue;
    width: 975px;
    padding-left: 25px;
}
