body {
    font-family: 'Trebuchet MS', Consolas, sans-serif;
    background-image: url("../images/game-menu/space-background.jpg");
}

h1 {
    align-content: center;
    text-align: center;
    color: mediumturquoise;
    margin:45px;
    text-shadow: 0px 0px 10px aqua;
}

ul {
    list-style-type: none;
}

li {
    text-emphasis:none;
    /*
        font-weight:bold;
        */
    text-align: center;
    margin:45px;
    font-size:large;
    text-shadow: 0px 0px 5px aqua;
}

a{   
    text-decoration: none;
    color: mediumaquamarine;
}

a:hover {
    color: darkgoldenrod;
    text-shadow: 0px 0px 5px darkgoldenrod;
}

footer {
    font-family: 'helvetica', Consolas, sans-serif;
    position: absolute;
    left: 0px;
    top: 560px;
    color: azure;
    background-color:darkslateblue;
    width:100%;
    padding-left: 25px;
}
